#afs-form {
    margin-top: 70px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 50px;
    font-family: Verdana, sans-serif;
}

input#afs_form_submit {
    padding: 10px 30px;
    text-transform: uppercase;
}
.form-control {
    padding: 8px 10px;
}